body {
    background-color:aqua;
}
h1 {
    display: inline;
}
.container {
    display: block;
    width: 50%;
    margin: auto;
}
.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
}
.game-over {
    background-color: red;
    opacity: 0.5;
}

.grid {
    width: 15rem;
    height: 15rem;
    border: 10px solid black;
}
.row {
    display: flex; /* Ensures the divs inside it are aligned properly */
    justify-content: center;
}
.green {
    
    background-color: green;
    border-radius: 100% 0% 0% 0%;
}
.red {
    
    background-color: red;
    border-radius: 0% 100% 0% 0%;
}
.yellow {
    
    background-color: yellow;
    border-radius: 0% 0% 0% 100%;
}
.blue {
    
    background-color: blue;
    border-radius: 0% 0% 100% 0%;
}

@media (max-width: 520px) {
    .grid {
        width: 12rem;
        height: 12rem;
        border: 10px solid black;
    }
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
}